{{> adminHeader title=title buttonBackRef=buttonBackRef}}
<main class="flex justify-center w-full h-max relative">
    <form
        id="formContainer"
        class="w-11/12 h-4/6 my-16 p-4 flex flex-col gap-4 rounded-xl"
    >
        <div class="form-row flex flex-col gap-1 w-full">
            <label for="themeName">Theme Name</label>
            <input type="text" id="themeName" name="themeName"/>
            <p class="hidden" id="themeNameValid"></p>
        </div>
        <div class="form-row flex flex-col gap-1 w-full">
            <label for="cardFront">Theme Front</label>
            <input type="file" id="cardFront" name="cardFront"/>
            <p class="hidden" id="cardFrontValid"></p>
        </div>
        <div class="form-row flex flex-col gap-1 w-full">
            <label for="cardBack">Theme Back</label>
            <input type="file" id="cardBack" name="cardBack"/>
            <p class="hidden" id="cardBackValid"></p>
        </div>
        <div class="flex items-center">
            <div class="w-1/2 form-row flex flex-row items-center justify-start">
                <input type="checkbox" name="isVip" id="isVip">
                <label for="isVip">Is Vip Item?</label>
            </div>
            <div class="w-1/2 form-row">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" disabled>
            </div>
        </div>
        <div class="form-row flex-col">
            <button id="submitButton" value="Submit" class="text-2xl bg-primary text-white px-8 py-2 rounded-full
			w-full">Submit
            </button>
        </div>
    </form>
</main>