{{> adminHeader title=title buttonBackRef=buttonBackRef}}
<main class="flex justify-center w-full h-max relative">
	<div class="w-11/12 h-4/6 my-16 p-4 grid grid-cols-2 gap-4 rounded-xl">
		<a
			href="/admin/card-themes/all"
			class="block bg-secondary text-white w-full flex flex-col justify-center items-center gap-2 p-4 rounded-xl cursor-pointer"
		>
			<div class="text-4xl">
				<i class="fa-solid fa-table-cells"></i>
			</div>
			<div>
				<p class="text-xl">List themes</p>
			</div>
		</a>

		<a
			href="/admin/card-themes/add"
			class="block bg-secondary text-white w-full flex flex-col justify-center items-center gap-2 p-4 rounded-xl cursor-pointer"
		>
			<div class="text-4xl">
				<i class="fa-solid fa-plus"></i>
			</div>
			<div>
				<p class="text-xl">Add new themes</p>
			</div>
		</a>

	</div>
</main>