{{> siteHeader title=title buttonBackRef=buttonBackRef}}
<main class="flex justify-center w-full h-max">
    <div class="w-11/12 bg-lightSub h-4/6 my-16 p-4 flex flex-col gap-4 rounded-xl">
        <header class="btn-rank-group w-full flex justify-center items-center gap-12">
            <button data-filter="overall" class="tab-button active">Overall</button>
            <button data-filter="4x4" class="tab-button inactive">4x4</button>
            <button data-filter="4x5" class="tab-button inactive">4x5</button>
        </header>

        <main id="listRankContainer" class="h-full flex flex-col gap-4">
            <!-- User components -->
        </main>
    </div>
</main>