<main class="w-full flex flex-wrap justify-center rounded-xl">
	<div class="w-1/2 flex flex-col justify-center items-center gap-4">
		<header>
			<h3 class="text-3xl text-primary-shadow">Top Game Topics</h3>
		</header>
		<main class="w-4/5 p-2">
			<canvas class="chart" id="topGameTheme"></canvas>
		</main>
	</div>

	<div class="w-1/2 flex flex-col justify-center items-center gap-4">
		<header>
			<h3 class="text-3xl text-primary-shadow">Top Card Themes</h3>
		</header>
		<main class="w-4/5 p-2">
			<canvas class="chart" id="topCardTheme"></canvas>
		</main>
	</div>
	{{! <hr class="w-4/5 hr my-4" /> }}
	<div class="w-1/2 flex flex-col items-center gap-4">
		<header>
			<h3 class="text-3xl text-primary-shadow">Top Game Size</h3>
		</header>
		<main class="w-3/5 p-2">
			<canvas class="chart" id="topGameSize"></canvas>
		</main>
	</div>

	<div class="w-1/2 flex flex-col justify-center items-center gap-4">
		<header>
			<h3 class="text-3xl text-primary-shadow">Top Game Time</h3>
		</header>
		<main class="w-3/5 p-2">
			<canvas class="chart" id="topGameTime"></canvas>
		</main>
	</div>

</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0 "></script>