.button-normal {
	background-color: var(--secondary);
	padding: 0.5rem 2rem;
	font-size: 1.5rem;
}

.button-normal.active,
.button-small.active {
	background-color: var(--primary);
}

.button-small {
	background-color: var(--secondary);
	padding: 0.5rem 2rem;
	font-size: 1rem;
}

.btn-rank-group {
	border: none;
	border-bottom: 1px solid #ccc;
}

.tab-button.inactive {
	--tab-bgColor: var(--secondary);
}

.tab-button.active {
	--tab-bgColor: var(--primary);
}

.tab-button {
	background: var(--tab-bgColor);
	font-size: 1.5rem;
	padding: 0.25rem 1rem;
	color: white;
	position: relative;
	border-radius: 1rem 1rem 0 0;
}

.tab-button:before {
	position: absolute;
	background: var(--tab-bgColor);
	content: "";
	top: 0;
	left: -1.25rem;
	width: 2rem;
	border-radius: 100% 0 0 0;
	height: 100%;
	transform: skew(-5deg);
}

.tab-button:after {
	position: absolute;
	background: var(--tab-bgColor);
	content: "";
	top: 0;
	right: -1.25rem;
	width: 2rem;
	border-radius: 0 100% 0 0;
	height: 100%;
	transform: skew(5deg);
}

.sort-button {
	background: var(--secondary);
}

.sort-button.active {
	background: var(--primary);
}

.admin-tab {
}

.admin-tab.active {
	background: var(--primary);
}

.streak-button.active {
	background: var(--primary);
	color: #fff;
	box-shadow: none;
}
