<div class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-40%] w-full flex flex-col gap-4">
	<div>
		<h3 class="text-6xl w-full text-center text-primary my-4">Let's play</h3>
		<h1 class="text-8xl w-full text-center text-secondary my-4">The Memory Game</h1>
	</div>
	<div class="w-full flex justify-center items-center gap-8">
		<button data-button="normal" class="mode-button button-normal text-white rounded-full">Normal</button>
		<button data-button="challenge" class="mode-button button-normal text-white rounded-full">Challenge</button>
		<button data-button="hardcore" class="mode-button button-normal text-white rounded-full">HardCore</button>
	</div>
	<div class="w-full flex justify-center items-center gap-8">
		<button id="playGame" class="block w-24 h-24 rounded-full bg-primary">
			<i class="fa-solid fa-play text-white text-4xl"></i>
		</button>
	</div>
</div>

<div id="streakBoard" class="{{#if isNotLogin}} hidden {{/if}} absolute w-full top-4 left-4 flex gap-4">
	<div class="shadow-1 w-11/12 p-2 rounded-xl bg-white flex gap-2 justify-between items-start">
		<div class="flex flex-col justify-center gap-2 items-start w-3/4">
			<h2>Streak Login</h2>
			<div class="flex items-center gap-4">
				<button data-streak="1" class="streak-button px-4 py-2 bg-white shadow-2 rounded-lg">1</button>
				<button data-streak="2-3" class="streak-button px-4 py-2 bg-white shadow-2 rounded-lg">2-3</button>
				<button data-streak="4-5" class="streak-button px-4 py-2 bg-white shadow-2 rounded-lg">4-5</button>
				<button data-streak="6-9" class="streak-button px-4 py-2 bg-white shadow-2 rounded-lg">6-9</button>
				<button data-streak="10" class="streak-button px-4 py-2 bg-white shadow-2 rounded-lg">10+</button>
			</div>
		</div>
		<div class="w-1/4 flex flex-col gap-2">
			<h2>Your Streak</h2>
			<button id="userStreak" class="text-primary bg-white rounded-lg shadow-1 h-max w-full p-4">
				1 day(s)
			</button>
		</div>

	</div>

</div>

<div class="absolute {{#if isNotLogin}} top-4 {{else}} top-36 {{/if}} right-4">
	<div class="w-full flex justify-center items-center">
		<button
			id="directShopButton"
			class="w-24 h-24 flex flex-col justify-center items-center bg-gradient-to-r from-red-400 to-orange-400 hover:from-red-500 hover:to-orange-500 transition ease-in-out text-white rounded-full"
		>
			<i class="fa-solid fa-store text-white text-2xl"></i>
			<span>VIP Shop</span>
		</button>
	</div>
</div>
<div class="absolute bottom-0 left-1/2 translate-x-[-50%] translate-y-[-50%]">
	<div class="w-full flex justify-center items-center">
		<button id="directRankButton" class="button-normal text-white rounded-full">Ranking</button>
	</div>
</div>
<div class="absolute bottom-0 right-4 translate-y-[-50%]">
	<div class="w-full flex justify-center items-center">
		<button id="directInventoryButton" class="w-14 h-14 bg-secondary text-white rounded-full"><i
				class="fa-solid fa-gear text-white text-2xl"
			></i></button>
	</div>
</div>
<div class="absolute bottom-0 left-4 translate-y-[-50%]">
	<div class="w-full flex justify-center items-center">
		<button id="directProfileButton" class="w-14 h-14 bg-secondary text-white rounded-full"><i
				class="fa-solid fa-user text-white text-2xl"
			></i></button>
	</div>
</div>

<!--<script src="/javascripts/home/home.process.js"></script>-->