<div class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-40%] w-full flex flex-col gap-4">
    <div>
        <h3 class="text-6xl w-full text-center text-primary my-4">Let's play</h3>
        <h1 class="text-8xl w-full text-center text-secondary my-4">The Memory Game</h1>
    </div>
    <div class="w-full flex justify-center items-center gap-8">
        <button data-button="normal" class="mode-button button-normal text-white rounded-full">Normal</button>
        <button data-button="challenge" class="mode-button button-normal text-white rounded-full">Challenge</button>
    </div>
    <div class="w-full flex justify-center items-center gap-8">
        <button id="playGame" class="block w-24 h-24 rounded-full bg-primary">
            <i class="fa-solid fa-play text-white text-4xl"></i>
        </button>
    </div>
</div>

<div class="absolute top-4 right-4 ">
    <div class="w-full flex justify-center items-center">
        <button id="directShopButton" class="w-24 h-24 flex flex-col justify-center items-center bg-gradient-to-r from-red-400 to-orange-400
        hover:from-red-500
        hover:to-orange-500
        transition ease-in-out text-white rounded-full">
            <i class="fa-solid fa-store text-white
        text-2xl"></i>
            <span>VIP Shop</span>
        </button>
    </div>
</div>
<div class="absolute bottom-0 left-1/2 translate-x-[-50%] translate-y-[-50%]">
    <div class="w-full flex justify-center items-center">
        <button id="directRankButton" class="button-normal text-white rounded-full">Ranking</button>
    </div>
</div>
<div class="absolute bottom-0 right-4 translate-y-[-50%]">
    <div class="w-full flex justify-center items-center">
        <button id="directInventoryButton" class="w-14 h-14 bg-secondary text-white rounded-full"><i class="fa-solid fa-gear text-white
        text-2xl"></i></button>
    </div>
</div>
<div class="absolute bottom-0 left-4 translate-y-[-50%]">
    <div class="w-full flex justify-center items-center">
        <button id="directProfileButton" class="w-14 h-14 bg-secondary text-white rounded-full"><i class="fa-solid fa-user text-white
        text-2xl"></i></button>
    </div>
</div>

<!--<script src="/javascripts/home/home.process.js"></script>-->