{{>siteHeader title=title buttonBackRef=buttonBackRef}}
<div class="absolute top-4 right-8">
    <div class="bg-white shadow-2 rounded-xl px-4 py-2">
        <div class="flex items-center justify-center text-primary text-2xl gap-2">
            <span class="noto--coin"></span>
            <h4 id="userCoins">500</h4>
        </div>
    </div>
</div>
<main class="relative flex justify-center w-full h-4/5">
    <div class="w-full h-3/5 mt-16 p-4 flex flex-col gap-4 rounded-xl">
        <header class="btn-rank-group w-full flex justify-center items-center gap-12">
            <button data-tab="card-themes" class="tab-button inactive">Card Themes</button>
            <button data-tab="game-topics" class="tab-button inactive">Game Themes</button>
        </header>
        <main id="listCard" class="w-full h-full grid grid-cols-4 gap-2 overflow-y-scroll style-4">

        </main>
    </div>
    <section id="vipDetails" class="bg-transparent invisible h-2/5 w-full absolute -bottom-16 left-0 px-8 py-4">
        <div class="w-full flex items-center gap-4 ">
            <div id="themeDataContainer" class="w-4/5 h-[300px] p-2 grid grid-cols-3 gap-4 overflow-y-scroll style-4">

            </div>
            <div class="w-1/5 flex flex-col gap-2">
                <div class="flex flex-col items-center justify-center text-header-shadow text-4xl gap-2">
                    <span class="noto--coin"></span>
                    <h4 class="price">-</h4>
                </div>
                <button data-price="" data-id="" id="buyButton" class="button-small rounded-xl text-white">Buy</button>
            </div>
        </div>

    </section>
</main>