<header class="w-full flex flex-col justify-center items-center gap-4 p-4">
    <h1 class="text-4xl text-secondary">{{title}}</h1>
    {{#if buttonBackRef}}
        <a href="{{buttonBackRef}}" class="button-small active text-white rounded-full">Back</a>
    {{/if}}
</header>