<header class="relative w-full flex justify-center items-center gap-4">
    {{#if buttonBackRef}}
        <a href="{{buttonBackRef}}" class="absolute top-0 left-0 button-small active text-white rounded-full">Back</a>
    {{/if}}
    <h1 class="w-full text-4xl text-secondary text-center">{{title}}</h1>
</header>