<header class="w-full flex justify-center items-center gap-4">
    {{#if buttonBackRef}}
        <a href="{{buttonBackRef}}" class="button-small active text-white rounded-full">Back</a>
    {{/if}}
    <h1 class="text-4xl text-secondary">{{title}}</h1>
</header>