{{> siteHeader title=title buttonBackRef=buttonBackRef}}
<main class="w-full h-[80vh] mt-20 p-4 flex flex-col gap-2 overflow-y-scroll style-4" id="historyContainer">
    <div class="w-full bg-white shadow-[0_3px_10px_rgb(0,0,0,0.2)] h-max flex justify-between items-center gap-4 p-4 rounded-xl">
        <div class="relative w-1/2 flex flex-col gap-2">
        <img class="absolute right-0 top-0 translate-y-[-25%] w-24" src="/images/win_badge.png" alt="">
            <p class="text-sm text-slate-500">12:29 21/03/2024</p>
            <p class="text-5xl text-header-shadow">4x4</p>
            <div class="flex gap-1 items-center text-xl">
                <p class="text-primary">125</p>
                <p>turns in</p>
                <p class="text-primary">128s</p>
            </div>
        </div>
        <div class="w-1/2 flex justify-center gap-4 items-center">
            <img class="w-24" src="/images/themepacks/1710352308388.png" alt="">
            <img class="w-24" src="/images/game_thumbnails/1710864502866-test.png" alt="">
            
        </div>
    </div>
</main>