{{> siteHeader title=title buttonBackRef=buttonBackRef}}
<main class="flex w-full h-full justify-center relative">
    <form class="w-11/12 h-4/6 my-16 p-4 flex flex-col  items-center gap-4 rounded-xl">
        <div class="w-full">
            <input type="password" name="uOldPassword" id="uOldPassword" placeholder="Old password">
            <p id="uOldPasswordValid" class="hidden text-red-500"></p>
        </div>
        <div class="w-full">
            <input type="password" name="uNewPassword" id="uNewPassword" placeholder="New password">
            <p id="uNewPasswordValid" class="hidden text-red-500"></p>
        </div>
        <div class="w-full">
            <input type="password" name="uReNewPassword" id="uReNewPassword" placeholder="Retype new password">
            <p id="uReNewPasswordValid" class="hidden text-red-500"></p>
        </div>
        <div class="w-full  flex justify-between">
            <p id="showMessage" class="hidden text-red-500"></p>
        </div>
        <button class="button-normal hover:bg-primary text-white w-full rounded-full" id="submitChangePwd">Change password</button>
    </form>
</main>