<header class="w-full flex flex-col justify-center items-center gap-4">
	<a href="/" class="button-small active text-white rounded-full">Back</a>
	<div class="bg-white p-4 rounded-[1.25rem] shadow-2">
		<h1 class="text-4xl text-secondary">Let's login to save your data</h1>
	</div>
</header>
<main class="flex w-full h-full justify-center relative">
	<div class="w-11/12 h-4/6 my-16 p-4 flex flex-col justify-center items-center gap-4 rounded-xl">
        <a href="/auth/password" class="w-full bg-white py-2 rounded-xl flex gap-4 justify-center items-center shadow-3">
            <span class="fa-solid fa-unlock-keyhole"></span>
            <p class="text-xl">Login with Password</p>
        </a>
        <button id="loginWithGoogle" class="w-full bg-white py-2 rounded-xl flex gap-4 justify-center items-center shadow-3">
			<span class="flat-color-icons--google"></span>
			<p class="text-xl">Login with Google</p>
		</button>

	</div>
</main>