<header class="w-full flex flex-col justify-center items-center gap-4">
    <a href="/" class="button-small active text-white rounded-full">Back</a>
    <div class="bg-white p-4 rounded-[1.25rem] shadow-2">
        <h1 class="text-4xl text-secondary">Let's login to save your data</h1>
    </div>
</header>
<main class="flex w-full h-full justify-center relative">
    <div class="w-11/12 h-4/6 my-16 p-4 flex flex-col items-center gap-4 rounded-xl">
        <input type="text" name="uEmail" id="uEmail" placeholder="Email">
        <input type="password" name="uPassword" id="uPassword">
        <div class="w-full  flex justify-between">
            <p>Don't have account? <a class="hover:text-primary" href="/auth/register">Create new account?</a></p>
            <p id="showMessage" class="hidden text-red-500"></p>
        </div>
        <button class="button-normal hover:bg-primary text-white w-full rounded-full" id="submitLogin">Login</button>
    </div>
</main>